.basket{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right:25%;
    border:1px solid transparent;
    border-radius: 30px;
    height:50%;
    background: rgba(29, 29, 28, 0.5);
}
.basket .font-icon{
    padding: 0 10px 0 30px;
}
.basket p {
    font-weight: bold;
    color:azure;
}
.basket .counter{
    border:1px solid transparent;
    margin: 0 30px 0 10px;
    padding:0 10px;
    border-radius: 10px;
    background: rgb(134, 47, 32);
    color: azure;
}